* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.main-header {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  background: #13293d;
  color: #fff;
  text-align: center;
}


.card {
  flex: 1 0 0;
  padding: 10px;
  text-align: left;
  border-style: solid;
  border-width: 3px;
}

.card header {
  text-align: center;
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card p {
  width: 100%;
  min-width: 300px;
  min-height: 100px;
}
